@font-face{
    font-family: Anhdeptrai;
    src: url(fonts/khuong.ttf);
}
body{
    background-image: url(images/rainbow.jpg);
    background-color: #93afd8;
    background-size: 100%;
    background-repeat:no-repeat; 
    background-attachment: fixed;
    color: black;
}
#bts{
border: solid red 3px;
    margin: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 75px;
    padding-top: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
    padding-left: 75px;
    text-align: center;
}

h1{
    font-family: "Anhdeptrai";
}
#home{
    color:yellow;
    font-family: "Anhdeptrai";
    line-height: 200.7px;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 100%;
}
#nav {
    font-family: "Anhdeptrai";
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 18px;
}

#nav li a:hover {
    background-color: #111;
    color: red;
}
#nav li a:active{
     background-color: red;
     color:black;
}
/* unvisited link */
#nav:link {
    color: white;
}

/* visited link */
#nav:visited {
    color: white;
}

/* mouse over link */
#nav:hover {
    color: white;
}


/* selected link */
#nav:active {
    color: white;
}

#div {
    margin:50px;
    padding:75px;
    text-align: center
}
.dropbtn {
    background-color: black;
    font-family: "Anhdeptrai";
    color: white;
    padding: 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

  .dropdown {
    position: fixed;
    display:inline-block;
    
}

 .dropdown-content {
     font-family: "Anhdeptrai";
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Anhdeptrai";
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover {background-color:black;}

 .dropdown:hover .dropdown-content {
    display: block;
}

 .dropdown:hover .dropbtn {
    background-color:  grey;
}
#panel1{
    width: 70%;
}

#pbody1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #3D5A6C;
    
}
#pheading1{
font-family: sans-serif;
font-size: 28px;
  color: white;
  background-color: #3D5A6C;
}
#name1{
    color:  white;
    

}
#section{
    float: left;
    margin-right: 30px;
}
#resu{
    color: white;
    
}
#hobby{
    width: 250px;
    margin:auto;
}
#songs{
    width: 250px;
    margin:auto;
}


    

