@font-face{
    font-family: Anhdeptrai;
    src: url(fonts/khuong.ttf);
}
body{
    background-image: url(images/rainbow.jpg);
    background-color: #93afd8;
    background-size: 100%;
    background-repeat:no-repeat; 
    background-attachment: fixed;
    color: black;
}
h1{
    font-family: "Anhdeptrai";
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
    color: red;
}
#nav li a:active{
     background-color: red;
     color:black;
}
#hobby{
    width: 250px;
    margin:auto;
}
#songs{
    width: 250px;
    margin:auto;
}


    

